<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Project 2: Analyzing Chipotle Data

_Author: Joseph Nelson (DC)_

---

For Project 2, you will complete a series of exercises exploring [order data from Chipotle](https://github.com/TheUpshot/chipotle), compliments of _The New York Times'_ "The Upshot."

For these exercises, you will conduct basic exploratory data analysis (Pandas not required) to understand the essentials of Chipotle's order data: how many orders are being made, the average price per order, how many different ingredients are used, etc. These allow you to practice business analysis skills while also becoming comfortable with Python.

---

## Basic Level

### Part 1: Read in the file with `csv.reader()` and store it in an object called `file_nested_list`.

Hint: This is a TSV (tab-separated value) file, and `csv.reader()` needs to be told [how to handle it](https://docs.python.org/2/library/csv.html).

In [56]:
# Import the data using pandas
import pandas as pd
file_nested_list = pd.read_table('/Users/michaelkrysko/Desktop/ds5k/unit-2_project/data/chipotle.tsv', sep='\t', header=0)

In [59]:
# Remove the dollar sign
file_nested_list['item_price'] = file_nested_list.item_price.str.replace('$', '')
file_nested_list['item_price'] = file_nested_list['item_price'].astype('float')

#Check data types
file_nested_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null float64
dtypes: float64(1), int64(2), object(2)
memory usage: 180.6+ KB

In [60]:
# Ensure the data is imported correctly
file_nested_list.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
6,3,1,Side of Chips,NaN,1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",9.25

### Part 2: Separate `file_nested_list` into the `header` and the `data`.

In [61]:
header = file_nested_list.head(0)
header

Empty DataFrame
Columns: [order_id, quantity, item_name, choice_description, item_price]
Index: []

---

## Intermediate Level

### Part 3: Calculate the average price of an order.

Hint: Examine the data to see if the `quantity` column is relevant to this calculation.

Hint: Think carefully about the simplest way to do this!

In [62]:
# Calculating the total_item_price, which is the qty time the item_price
file_nested_list['total_item_price'] = file_nested_list.quantity * file_nested_list.item_price

In [63]:
# Calculate Average price of an order by summing the total_item_price grouped by order_id and then taking the mean (rounding to the nearest cent)
round(file_nested_list.groupby('order_id').total_item_price.sum().mean(),2)

21.39

### Part 4: Create a list (or set) named `unique_sodas` containing all of unique sodas and soft drinks that Chipotle sells.

Note: Just look for `'Canned Soda'` and `'Canned Soft Drink'`, and ignore other drinks like `'Izze'`.

In [96]:
# Subset the data where item_name is Canned Soda or Canned Soft Drink

soda_orders = file_nested_list[file_nested_list['item_name'].str.contains('Canned Soda' or 'Canned Soft Drink')]
soda_orders.head()

,order_id,quantity,item_name,choice_description,item_price,total_item_price
18,9,2,Canned Soda,[Sprite],2.18,4.36
28,14,1,Canned Soda,[Dr. Pepper],1.09,1.09
51,23,2,Canned Soda,[Mountain Dew],2.18,4.36
53,24,1,Canned Soda,[Sprite],1.09,1.09
107,47,1,Canned Soda,[Dr. Pepper],1.09,1.09

In [95]:
# Call the 'unique' method, that will tell what the unique sodas are

soda_orders.choice_description.unique()

array(['[Sprite]', '[Dr. Pepper]', '[Mountain Dew]', '[Diet Dr. Pepper]',
       '[Coca Cola]', '[Diet Coke]'], dtype=object)

---

## Advanced Level

### Part 5: Calculate the average number of toppings per burrito.

Note: Let's ignore the `quantity` column to simplify this task.

Hint: Think carefully about the easiest way to count the number of toppings!

In [148]:
# Subset the burrito orders

burrito_orders = file_nested_list[file_nested_list['item_name'].str.contains('Burrito')]
burrito_orders['choice_description'].head()

7     [Tomatillo Red Chili Salsa, [Fajita Vegetables...
9     [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...
16    [Tomatillo-Green Chili Salsa (Medium), [Pinto ...
17    [Fresh Tomato Salsa (Mild), [Black Beans, Rice...
21    [[Fresh Tomato Salsa (Mild), Tomatillo-Green C...
Name: choice_description, dtype: object

In [149]:
# Eliminate the brackets in choice_description (in a very roundabout way)

burrito_orders['new_choice'] = burrito_orders['choice_description'].str.replace('[', '')
burrito_orders['choice_description'] = burrito_orders['new_choice'].str.replace(']', '')

# Delete the new_choice column
del burrito_orders['new_choice']

/Users/michaelkrysko/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/Users/michaelkrysko/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [150]:
# The goal of the above was to create a cleaner column with only lists with only strings as contents (not lists of lists)
# Split the contents of choice_description by comma and add to a new column called toppings

burrito_orders['toppings'] = burrito_orders['choice_description'].str.split(',')

/Users/michaelkrysko/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [156]:
print('The average amount of toppings on a burrito: ')

# Find the length of each list and take the mean
print(round(burrito_orders.toppings.str.len().mean(),2))

The average amount of toppings on a burrito:
5.4

### Part 6: Create a dictionary. Let the keys represent chip orders and the values represent the total number of orders.

Expected output: `{'Chips and Roasted Chili-Corn Salsa': 18, ... }`

Note: Please take the `quantity` column into account!

Optional: Learn how to use `.defaultdict()` to simplify your code.

In [198]:
#Subset Chip Orders

chip_orders = file_nested_list[file_nested_list['item_name'].str.contains('Chips')]
chip_orders.head()

,order_id,quantity,item_name,choice_description,item_price,total_item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
6,3,1,Side of Chips,NaN,1.69,1.69
10,5,1,Chips and Guacamole,NaN,4.45,4.45
14,7,1,Chips and Guacamole,NaN,4.45,4.45

In [219]:
# Data cleansing to consolidate chip types
chip_orders['chip_kinds'] = chip_orders.item_name.str.replace('-',' ')
chip_orders['chip_types'] = chip_orders.chip_kinds.str.replace('Side of Chips','Chips')

/Users/michaelkrysko/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/Users/michaelkrysko/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [221]:
# Create pivot table to accommodate the quantity of the order
chip_pivot = pd.pivot_table(data = chip_orders, index = 'chip_types', values = 'quantity', aggfunc = np.sum).reset_index()

In [223]:
# Create dictionary of keys and values

chip_dict = chip_pivot.set_index('chip_types').to_dict()
chip_dict = chip_dict['quantity']
print(chip_dict)

{'Chips and Tomatillo Green Chili Salsa': 78, 'Chips and Tomatillo Red Chili Salsa': 75, 'Chips and Guacamole': 506, 'Chips and Roasted Chili Corn Salsa': 41, 'Chips and Mild Fresh Tomato Salsa': 1, 'Chips': 340, 'Chips and Fresh Tomato Salsa': 130}

---

## Bonus: Craft a problem statement about this data that interests you, and then answer it!